---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: metallb-config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{ k8s_cluster_load_balancer.iprange.from }}-{{ k8s_cluster_load_balancer.iprange.to }}
