;
; BIND reverse data file for k8s.zone
;

$TTL	604800

{% for node in k8s_cluster_nodes if node.id == 'master' %}
@	IN	SOA	{{ node.hostname }}. root.{{ node.hostname }}. (
                  2     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL
{% endfor %}

; nameservers
{% for node in k8s_cluster_nodes if node.id == 'master' %}
    IN  NS  {{ node.hostname }}.
{% endfor %}

; PTR records
{% for node in k8s_cluster_nodes %}
{% set ip_octets = node.ip.split('.') %}

{# last ip octet #}
{{ ip_octets[3] }}  IN  PTR {{ node.hostname }}.

{%- endfor %}
