;
; BIND reverse data file for {{ k8s_cluster_dns_server.domain }}
;

$TTL	604800
@	IN	SOA	{{ k8s_cluster_dns_server.hostname }}. root.{{ k8s_cluster_dns_server.hostname }}. (
                  2     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL

; nameservers
    IN  NS  {{ k8s_cluster_dns_server.hostname }}.

; PTR records
{%- for node in k8s_cluster_nodes %}
{% set ip_octets = node.ip.split('.') %}

{# last ip octet #}
{{ ip_octets[3] }}  IN  PTR {{ node.hostname }}.

{%- endfor %}
