//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "k8s.zone" IN {
    type master;
    file "/etc/bind/zones/db.fwd.k8s.zone";
    allow-update { none; };
};

{% for node in k8s_cluster_nodes if node.id == 'master' %}
{% set ip_octets = node.ip.split('.') %}

{# zone 33.168.193-in-addr.arpa #}
zone "{{ ip_octets[2] }}.{{ ip_octets[1] }}.{{ ip_octets[0] }}.in-addr.arpa" IN {
    type master;
    file "/etc/bind/zones/db.rev.k8s.zone";
    allow-update { none; };
};

{% endfor %}
